.wrapper-headerContent {
  display: flex;
  align-items: center;
}
.search-headerContent{
  margin-right: 50px;
}
.wrapper-dropdown{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dropdown-link {
  padding-left: 5px;
}
.ant-avatar:hover {
  cursor: pointer;
}


