input {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #1890ff;
}
input::placeholder {
    color: #bcbbbb;
    font-weight: 400;
}
.taskInput {
    font-size: 14px;
    padding: 4px 0;
}
.cardInput {
    font-size: 20px;
    font-weight: 500;
}