.wrapperHeader-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spin-align {
    position: fixed;
    top: 40%;
    text-align: center;
    width: 100%;
}
.wrapperLogoBlock-app {
    /*width: 30%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.imgLogo-app {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}