.wrapper-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.img-logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}